/* src/components/Navbar.css */
.navbar {
  background-color: #2E2C74;
  padding: 10px 20px;
  border-bottom: 1px solid #27408b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  margin-right: 10px;
}

.navbar .search-bar {
  flex-grow: 1;
  margin-right: 400px;
  margin-left: 30px;
}

.navbar .menu {
  display: flex;
  align-items: center;
  
}

.navbar .menu .ant-menu-horizontal {
  border-bottom: none;
  background-color: #2E2C74;
}

.navbar .menu .ant-menu-item {
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar .menu .ant-menu-item:hover, .navbar .menu .ant-menu-item-selected {
  color: #78BDC6; /* Use the specified color on hover */
}

.navbar .search-bar .ant-input-affix-wrapper {
  background-color: #fafbff;
  color: #ffffff;
  border-color: #1a73e8;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .search-bar .ant-input-affix-wrapper:hover, .navbar .search-bar .ant-input-affix-wrapper:focus {
  border-color: #e3e5e8;
  box-shadow: 0 0 0 0.2rem rgba(21, 90, 182, 0.25);
}

.navbar .search-bar .ant-input {
  background-color: #d3d6e0;
  color: #ffffff;
}
