/* src/components/Sidebar.css */
.sidebar {
  background-color: #0b3d91;
  padding-top: 60px; /* Ensure content is not hidden by the fixed navbar */
  height: 100vh;
  border-right: 1px solid #27408b;
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  overflow-y: auto;
  color: #ffffff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.sidebar .ant-menu-item {
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .ant-menu-item:hover, .sidebar .ant-menu-item-selected {
  color: #78BDC6; /* Use the specified color on hover */
  background-color: #e2e3e7;
}

.sidebar .ant-menu-item-selected {
  background-color: #1a73e8 !important;
  color: #ffffff !important;
}
